.DS_Store
log/*.log
tmp/*
tmp/pids/*
db/*.sqlite3
attachments
public/attachments/*
public/uploads/*
public/system/*
public/stylesheets/admin.css
public/stylesheets/public.css
.idea
*.tmproj
*.war
.bundle
config/app_version.yml
vendor/cache
vendor/bundle

